@font-face {
    font-family: 'ridgeregular';
    src: url('../font/Ridge-Regular-webfont.eot');
    src: url('../font/Ridge-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Ridge-Regular-webfont.woff2') format('woff2'),
         url('../font/Ridge-Regular-webfont.woff') format('woff'),
         url('../font/Ridge-Regular-webfont.ttf') format('truetype'),
         url('../font/Ridge-Regular-webfont.svg#ridgeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-image: url(../img/background.png);
	/*position: relative;
	/*background-image: url('../img/bg.png');*/
}

/*.container.bg {
	background-color: rgba(228, 223, 228, 0.30);
}*/

header.carousel {
	height: 37%;
}

nav {
	height: 80px;
	background-color: #212121;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.5);
	box-shadow: 0 0 8px rgba(0,0,0,.5);
	font-size: 20px;
	font-family: Rambla;
}

nav .container {
	height: 80px;
}

@media (max-width: 768px) {
	header.carousel {
		margin-top: -10px;
	}
}

@media (min-width: 768px) {
	.nav.navbar-nav {
		height: 80px !important;
	}
}

.nav.navbar-nav .li-nav {
	height: 80px !important;
}

.navbar-header, .navbar-brand {
	height: 80px !important;
}

.navbar-header a.navbar-brand {
	font-size: 25px;
	padding: 25px;
}

.nav.navbar-nav li a {
	padding-top: 25px;
}

.nav.navbar-nav li a:focus {
	outline: none;
}

.nav.navbar-nav li .btn-group {
	padding-top: 18px;
}

.navbar.navbar-inverse.navbar-fixed-top {
	border-bottom: 5px solid #2980b9;
}

.nav li .fa-home {
	font-size: 20px;
	color: #2980b9;
}

.nav li .fa-home:hover {
	font-size: 20px;
	color: white;
}

.nav li.actived {
	background-color: rgba(255, 255, 255, 0.1);
}

.nav li.actived a {
	color: white;
}

.navbar-brand {
	text-transform: uppercase;
	color: white !important;
	font-size: 35px !important;
	font-family: 'ridgeregular';
}

#myCarousel {
	margin-top: 30px;
}

.carousel-caption h2 {
	font-size: 50px;
}

.carousel-caption p {
	font-size: 30px;
}

.carousel-caption {
	bottom: 70px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
}

.mini-navbar.mini-navbar-dark {
	z-index: 10;
	background-color: #3498db;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,.2);
	box-shadow: inset 0 0 4px rgba(0,0,0,.2);
	min-height: 75px;
	border-bottom: none;
	font-family: Rambla;
	font-size: 24px;
	color: #eee;
	padding-top: 10px;
}

ul#items li {
	background-image: url(../img/bg-news.png);
	width: 300px;
	height: 350px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 3px solid #3498db;
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 -1px 3px rgba(0,0,0,.3);
	box-shadow: 0 -1px 3px rgba(0,0,0,.3);
	display: inline-block;

	margin-right: 30px;
	margin-left: 30px;

	margin-top: 10px;
	position: relative;
	float: left;
}

@media (max-width: 768px) {
	ul#items {
		padding: 0px!important;
	}
	ul#items li {
		margin-right: 0px!important;
		margin-left: 0px!important;
		float: none;
	}
}

ul#items li h2 {
	border-radius: 0 5px 5px 0;
	width: 200px;
	background-color: #3498db;
	margin-left:-18px;
	padding: 5px;
	font-family: Rambla;
	font-size: 25px;
	color: #efefef;
	padding-left: 20px;
}

ul#items p {
	font-family: Rambla;
	font-size: 20px;
	color: #151515;
}

ul#items .btn-like {
	width: 80px;
	height: 38px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #3498db;
	padding: 5px;
	margin-left:-18px;
	font-family: Rambla;
	font-size: 25px;
	color: #efefef;
	padding-left: 20px;

	position: absolute;
	bottom: 20px;
}

ul#items .btn-like p {
	color: #efefef;
}

ul#items .a-like {
	width: 145px;
	height: 38px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #3498db;
	padding: 5px;
	margin-right:-18px;
	font-family: Rambla;
	font-size: 25px;
	color: #efefef;
	padding-right: 20px;
	padding-bottom: 10px;

	position: absolute;
	bottom: 20px;
	right: 15px;

}

ul#items .a-like p {
	font-family: Rambla;
	font-size: 22px;
	color: #efefef;
}

ul#items .a-like p a {
	color: #efefef;
}

.li-nav .dropdown-menu {
	padding: 10px;
	width: auto;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #3498db;
	-webkit-box-shadow: inset 0 3px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 3px rgba(0,0,0,.15);
	box-shadow: inset 0 3px rgba(0,0,0,.15);
}

.li-nav .dropdown-menu a {
	padding-top: 6px !important;
}

.li-nav .dropdown-menu .divider {
	background-color: #44a9db;
	margin: 9px 20px;
}

.li-nav .dropdown-menu .info {
	margin-top: 10px
}

.dropdown .dropdown-menu {
	width: auto;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #3498db;
	-webkit-box-shadow: inset 0 3px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 3px rgba(0,0,0,.15);
	box-shadow: inset 0 3px rgba(0,0,0,.15);
}

.dropdown .dropdown-menu a {
	padding-top: 6px !important;
}

.dropdown .dropdown-menu a:hover, .dropdown .dropdown-menu a:focus, .dropdown .dropdown-menu a:active {
	background-color: #2e86c1;
	color: #fff;
}

.dropdown .dropdown-menu .divider {
	background-color: #44a9db;
	margin: 9px 20px;
}

.dropdown .dropdown-menu .info {
	margin-top: 10px
}

/* -- NEW NAVBAR -- */

.navbar-nav {
	float: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.logo {
	text-transform: uppercase;
	color: white !important;
	font-size: 35px !important;
	font-family: 'ridgeregular';
	/*margin-top:-50px;*/
	position: absolute;
	left: 50%;
	margin-left: -115px;
	top: 20px;
	text-align: center;
}

.nav-shape {
	position: absolute;
	left: 50%;
	margin-left: -130px;
}

.shape-left{
	width:200px;
	height:75px;
	background:#2980b9;
	-webkit-transform:skew(-30deg);
	-moz-transform:skew(30deg);
	-o-transform:skew(30deg);
	tranform:skew(30deg);
}

.shape-right{
  	margin-left:60px;
 	margin-top: -100px;
	width:200px;
	height:100px;
	background:#2980b9;
	-webkit-transform:skew(30deg);
	-moz-transform:skew(30deg);
	-o-transform:skew(30deg);
	tranform:skew(30deg);
}

.shape-down {
    width: 0;
    height: 0;
    margin-left: -30px;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 40px solid #2980b9;
}

/* -- END NAVBAR -- */

/* -- BRAND -- */

.brand-social {
	background-color: #3498db;
	padding: 10px;
  margin-bottom: -50px;
}

.brand-social span {
 	font-family: Rambla;
	font-size: 30px;
	color: #eee;
  	display: inline-block;
  	position: relative;
  	text-align: center;
}

.brand .btn-twitter,
.brand .btn-facebook {
	float: right;
}

.brand .btn-youtube {
	margin-left: 95px;
	margin-right: 95px;
}

.brand .btn-facebook {
	margin-right: 95px;
}

/* -- END BRAND -- */

/* -- END BUTTON -- */

.btn-skype {
    width: 70px;
	height: 70px;
    display: inline-block;
    padding: 15px;
    padding-right: 23px;
    padding-bottom: 25px;
    padding-top: 10px;
	-webkit-border-radius: 5px 6px 6px 5px/5px;
	-moz-border-radius: 5px 6px 6px 5px/5px;
	border-radius: 5px 6px 6px 5px/5px;
	background-color: #00aff0;
	-webkit-box-shadow: inset 0 -6px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -6px rgba(0,0,0,.15);
	box-shadow: inset 0 -6px rgba(0,0,0,.15);
}

.btn-youtube {
    width: 70px;
	height: 70px;
    display: inline-block;
    padding: 15px;
    padding-right: 23px;
    padding-bottom: 25px;
    padding-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #dd332c;
	-webkit-box-shadow: inset 0 -6px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -6px rgba(0,0,0,.15);
	box-shadow: inset 0 -6px rgba(0,0,0,.15);
}

.btn-facebook {
    width: 70px;
	height: 70px;
    display: inline-block;
    padding: 15px;
    padding-left: 25px;
	-webkit-border-radius: 6px 5px 5px 6px/5px;
	-moz-border-radius: 6px 5px 5px 6px/5px;
	border-radius: 6px 5px 5px 6px/5px;
	background-color: #3b5998;
	-webkit-box-shadow: inset 0 -6px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -6px rgba(0,0,0,.15);
	box-shadow: inset 0 -6px rgba(0,0,0,.15);
}

.btn-twitter {
	width: 70px;
	height: 70px;
	display: inline-block;
	padding: 15px;
	padding-right: 23px;
	-webkit-border-radius: 5px 6px 6px 5px/5px;
	-moz-border-radius: 5px 6px 6px 5px/5px;
	border-radius: 5px 6px 6px 5px/5px;
	background-color: #29c5f6;
	-webkit-box-shadow: inset 0 -6px rgba(77,77,77,.15);
	-moz-box-shadow: inset 0 -6px rgba(77,77,77,.15);
	box-shadow: inset 0 -6px rgba(77,77,77,.15);
}

.btn-skype,
.btn-youtube,
.btn-facebook,
.btn-twitter,
.button {
	margin-left: 47px;
	margin-right: 47px;
}

.btn-skype:active,
.btn-youtube:active,
.btn-facebook:active,
.btn-twitter:active,
.button:active {
	border-bottom: 0px solid #3498db;
	box-shadow: 1px 1px 1px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
}

/* -- END BUTTON -- */

footer {
	background-color: #131313;
	font-family: Lato;
	font-size: 20px;
	color: #dedede;
	padding: 10px;
	/*position: relative;*/
    clear:both;
    margin-bottom: 0px!important;

    /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;*/
}

footer p {
	margin-bottom: 0;
}

.transition-timer-carousel-progress-bar {
	background-color: rgba(255, 255, 255, 0.32) !important;
}

.push-nav {
	height: 80px;
}

/* -- PROFILE -- */

.profile .row {
	max-width: 930px;
	margin-left: auto;
	margin-right: auto;
}

.profile .profile-content {
	background-image: url(../img/bg-shop.png);
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 3px solid #3498db;
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 -1px 3px rgba(0,0,0,.3);
	box-shadow: 0 -1px 3px rgba(0,0,0,.3);
	padding: 10px;
	margin-bottom: 20px;
}

.profile .section {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 615px;
	min-width: 300px;
	padding: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #3498db;
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.3);
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.3);
	box-shadow: 2px 3px 5px rgba(0,0,0,.3);

	color: #ebebeb;
	font-size: 18px;
}

.profile h3 {
	color: #ebebeb;
	text-align: center;
}

.profile .section p {
	text-align: center;
	margin-bottom: 0px;
}

.profile .section:nth-child(odd) {
	margin-left: -10px;
	margin-right: 300px;
	float: left;
}

.profile .section:nth-child(even) {
	margin-right: -10px;
	margin-left: 300px;
	float: right;
}

.profile .section.password {
	margin-right: 0px;
	margin-left: 0px;
	width: 45%;
}

.profile .section.input {
	padding: 0px;
}

.profile hr {
	border-top: 2px solid #3498db;
}

.profile input.form-control {
	border: none!important;
}

.profile input {
	background-color:rgba(219, 219, 219, 0.93);
	color: black;
}

.profile input[type="file"] {
	background-color: rgba(219, 219, 219, 0)!important;
}

.profile input:disabled.form-control {
	border: none!important;
}

.profile input:disabled {
	background-color:rgba(147, 147, 147, 0.71);
	color: black;
}

.profile input::-webkit-input-placeholder {
	color: rgb(77, 77, 77) !important;
}

.profile p {
	color: #ebebeb;
}

.profile .form-group {
	color: #ebebeb;
}

.profile table {
	color: #d0d0d0;
}

.profile table thead {
	border-top-color: #FFF;
}

/* -- END PROFILE -- */

/* -- SHOP -- */

.shop .row {
	max-width: 1030px;
	margin-left: auto;
	margin-right: auto;
}

.shop .shop-content {
	background-image: url(../img/bg-shop.png);
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 3px solid #3498db;
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 -1px 3px rgba(0,0,0,.3);
	box-shadow: 0 -1px 3px rgba(0,0,0,.3);
	padding: 10px;
}

.shop .nav.nav-tabs {
	border-bottom: 3px solid #3498db;
}

.shop .nav li a {
	color: #ebebeb!important;
	font-family: Rambla!important
	font-size: 24px!important;
}

.shop .nav.nav-tabs li.active a {
	color: #d8dde1!important;
	background-color: #3498db!important;
	border-radius: 4px 4px 0 0;
	border-color: #3498db!important;
}

.shop .nav.nav-tabs li:hover a  {
	color: #d8dde1!important;
	background-color: #3498db!important;
	border-radius: 4px 4px 0 0;
	border-color: #3498db!important;
}

.shop .thumbnail {
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	margin-top: 10px;
	max-height: 250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #3498db;
	-webkit-box-shadow: 0 5px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 5px 6px rgba(0,0,0,.5);
	box-shadow: 0 5px 6px rgba(0,0,0,.5);
}

.shop .thumbnail h4 {
	font-family: 'Lato'!important;
	font-size: 24px;
	color: #e6e6e6;
	text-align: center;
}

.shop .thumbnail .caption {
	border-top: 3px solid #e6e6e6;
	border-bottom: 3px solid #e6e6e6;
}

.shop .btn.btn-default {
	margin-top: -4px;
}

.shop .btn {
	font-family: Rambla!important;
}

.shop .pull-left {
	margin-left: 20px;
}

.shop .pull-right {
	margin-right: 20px;
}

.info {
	font-family: Rambla;
	font-size: 20px;
	color: #d6d6d6;
	padding: 5px 10px 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #3498db;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
	box-shadow: inset 0 0 4px rgba(0,0,0,.3);
}

.shop .info {
	margin-top: 5px;
	margin-left: 10px!important;
}

.shop .btn.btn-primary.btn-clear {
	margin-top: 5px;
	margin-right: 10px!important;
}

.shop .alert.alert-info {
	text-shadow: 1px 2px #1856cc;
}

/* -- END SHOP -- */

/* -- VOTE -- */

.brand-vote {
	background-color: #3498db;
	padding: 10px;
	height: 100px;
	margin-bottom: 30px;

	font-family: Lato;
	font-size: 20px;
	color: #dedede;
}

.brand-vote .fa {
	font-size: 30px;
}

.brand-vote .btn {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.vote .panel.panel-default.panel-step {
	max-width: 824px;
	margin-right: auto;
	margin-left: auto;
	border: 3px solid #3498db;
	background-image: url('../img/bg-vote.png');
	background-position:50% 70%;
}

.vote .panel.panel-default.panel-step p {
	font-family: Lato;
	font-size: 18px;
	color: #dedede;
	text-shadow: 2px -2px 2px rgba(0,0,0,.5);
	max-width: 750px;
}

.vote .panel.panel-default.panel-step h3 {
	font-family: Lato;
	font-size: 25px;
	color: #e9e8e8;
	padding: 5px;
	background-color: #3498db;
	display: inline-block;
	position: relative;
	top: -10px;
	border-radius: 0 0 3px 3px;
}

.vote .panel.panel-default.panel-step .panel-heading {
	background-color: rgba(245, 245, 245, 0) !important;
	border-color: rgba(245, 245, 245, 0) !important;
}

.vote .panel.panel-default.panel-step .panel-footer {
	background-color: rgba(245, 245, 245, 0) !important;
	border-color: rgba(245, 245, 245, 0) !important;
}

.vote input.form-control {
	border: none!important;
}

.vote input {
	background-color:rgba(147, 147, 147, 0.71);
	color: black;
}

.vote input:disabled.form-control {
	border: none!important;
}

.vote input:disabled {
	background-color:rgba(147, 147, 147, 0.71);
	color: black;
}

.vote input::-webkit-input-placeholder {
	color: rgb(77, 77, 77) !important;
}

/* -- END VOTE -- */

/* -- SUPPORT -- */

.brand-support {
	background-color: #3498db;
	padding: 10px;
	height: 100px;
	margin-bottom: 30px;

	font-family: Lato;
	font-size: 20px;
	color: #dedede;
}

.brand-support .fa {
	font-size: 30px;
}

.support .panel.panel-default.panel-ticket {
	max-width: 824px;
	margin-right: auto;
	margin-left: auto;
	border: 3px solid #3498db;
	background-image: url('../img/bg-support.png');
	background-position:50% 70%;
	min-height: 205px;
}

.support .panel.panel-default.panel-ticket p.support {
	font-family: Lato;
	font-size: 18px;
	color: #dedede;
	text-shadow: 2px -2px 2px rgba(0,0,0,.5);
	max-width: 750px;
}


.support.support-modal .panel.panel-default.panel-ticket p.support {
	max-width: 800px;
}

.support .panel.panel-default.panel-ticket h3.support {
	font-family: Lato;
	font-size: 25px;
	color: #e9e8e8;
	text-shadow: 1px -2px 2px rgba(0,0,0,.5);
	padding: 5px;
	background-color: #3498db;
	display: inline-block;
	position: relative;
	top: -15px;
}

.support .panel.panel-default.panel-ticket .head {
	float: left;
	width: 135px;
	margin-right: 15px;
}

.support .panel.panel-default.panel-ticket .head .author {
	text-align: center;
	min-height: 28px;
	font-family: Lato;
	font-size: 20px;
	color: #e9e8e8;
	background-color: #3498db;
	padding: 5px;
	border-radius: 0px 0px 2px 2px;
	vertical-align: bottom;
	width: 135px;
}

.support .panel.panel-default.panel-ticket .pull-right.support {
	margin-top: 0;
}

.support .panel.panel-default.panel-ticket .btn.btn-success {
	width: 34px;
}

.support .panel.panel-default.panel-ticket .btn.btn-info {
	width: 34px;
}

.support .panel.panel-default.panel-ticket .btn.btn-warning {
	width: 34px;
}

.support .reply .panel.panel-default {
	font-family: Lato;
	font-size: 16px;
	color: #eee;
	border: none;
	margin-left: auto;
	margin-right: auto;
	max-width: 637px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #3498db;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.3);
	box-shadow: 0 0 6px rgba(0,0,0,.3);
}

/* -- END SUPPORT -- */

/* -- ALERT -- */

.alert.alert-success {
	border-color: #2ecc71;
	color: #2ecc71;
	background-color: transparent;
}

.alert.alert-warning {
	border-color: #f39c12;
	color: #f39c12;
	background-color: transparent;
}

.alert.alert-danger {
	border-color: #e74c3c;
	color: #e74c3c;
	background-color: transparent;
}

.alert.alert-info {
	border-color: #2ea5cc;
	color: #2ea5cc;
	background-color: transparent;
}

/* -- END ALERT -- */

/* -- PAGES -- */

.page .page-content {
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/bg-page.png);
	border: 3px solid #3498db;
	max-width: 795px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.5);
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	padding: 15px;
	position: relative;
}

.page .page-content p {
	font-family: Rambla;
	font-size: 19px;
	color: #eee;
}

.page .page-content p.author {
	float: right;
	display: inline-block;
	background-color: #3498db;
	padding: 5px 15px 5px 15px;
	margin-right: -15px;
	border-radius: 5px 0 0 5px;
	margin-top: -5px;
	font-family: Rambla;
	font-size: 18px;
	color: #eee;
}

.page .page-content p.created {
	display: inline-block;
	background-color: #3498db;
	padding: 5px 15px 5px 15px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 5px 0 0 5px;
	margin-top: -5px;
	font-family: Rambla;
	font-size: 18px;
	color: #eee;
}

.page .page-content h1.title {
	background-color: #3498db;
	padding: 5px 15px 5px 15px;
	margin-left: -15px;
	font-family: Rambla;
	font-size: 30px;
	color: #eee;
	display: inline-block;
	border-radius: 0 5px 5px 0px;
	margin-top: -5px;
}

/* -- END PAGES */

/* -- NEWS -- */

.news .news-content {
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/bg-news2.png);
	border: 3px solid #3498db;
	max-width: 795px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.5);
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	padding: 15px;
	position: relative;
}

.news .news-content p {
	font-family: Rambla;
	font-size: 19px;
	color: #eee;
}

.news .news-content p.author {
	float: right;
	display: inline-block;
	background-color: #3498db;
	padding: 5px 15px 5px 15px;
	margin-right: -15px;
	border-radius: 5px 0 0 5px;
	margin-top: -5px;
	font-family: Rambla;
	font-size: 18px;
	color: #eee;
}

.news .news-content p.created {
	display: inline-block;
	background-color: #3498db;
	padding: 5px 15px 5px 15px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 5px 0 0 5px;
	margin-top: -5px;
	font-family: Rambla;
	font-size: 18px;
	color: #eee;
}

.news .news-content h1 {
	background-color: #3498db;
	padding: 5px 15px 5px 15px;
	margin-left: -15px;
	font-family: Rambla;
	font-size: 30px;
	color: #eee;
	display: inline-block;
	border-radius: 0 5px 5px 0px;
	margin-top: -5px;
}

.news-brand {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #3498db;
	padding: 15px;
}

.news-brand p {
	font-family: Lato;
	font-size: 25px;
	color: #e6e6e6;
	margin-bottom: 0;
}

.news .media {
	max-width: 540px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #3498db;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.3);
	box-shadow: 0 0 6px rgba(0,0,0,.3);
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	min-height: 110px;
	margin-bottom: 10px;
}

.news .media .media-object {
	float: left;
	margin-right: 10px;
}

.news .media .media-body {
	font-family: Lato;
	font-size: 16px;
	color: #eee;
}

.news .media .media-body .created {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 10px;
	font-family: Lato;
	font-size: 14px;
	color: #004c8f;
}

.news .media .media-body .author {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	font-family: Lato;
	font-size: 14px;
	color: #004c8f;
}

/* -- END NEWS -- */

/* -- BUTTON -- */

/* SHOP exception */
.btn.btn-default.bootstrap-touchspin-up,
.btn.btn-default.bootstrap-touchspin-down {
  height: 34px;
  margin-top: -1.5px;
}

.btn.btn-default {
	border: none;
	background-color: #d7dee3!important;
	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	-moz-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	font-family: Lato;
	font-size: 18px;
	color: #0e72b5;
	transition: box-shadow 0.5s;
}

.btn.btn-primary {
	border: none;
	background-color: #0e72b5!important;
	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	-moz-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	font-family: Lato;
	font-size: 18px;
	color: #d6d6d6;
	transition: box-shadow 0.5s;
}

.btn.btn-info {
	border: none;
	background-color: #44abf0!important;
	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	-moz-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	font-family: Lato;
	font-size: 18px;
	color: #d6d6d6;
	transition: box-shadow 0.5s;
}

.btn.btn-success {
	border: none;
	background-color: #1ab50e!important;
	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	-moz-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	font-family: Lato;
	font-size: 18px;
	color: #d6d6d6;
	transition: box-shadow 0.5s;
}

.btn.btn-warning {
	border: none;
	background-color: #e3760c!important;
	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	-moz-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	font-family: Lato;
	font-size: 18px;
	color: #d6d6d6;
	transition: box-shadow 0.5s;
}

.btn.btn-danger {
	border: none;
	background-color: #b5390e!important;
	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	-moz-box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	box-shadow: inset 0 -3px rgba(0,0,0,.15)!important;
	font-family: Lato;
	font-size: 18px;
	color: #d6d6d6;
	transition: box-shadow 0.5s;
}

.btn.btn-default:active,
.btn.btn-primary:active,
.btn.btn-info:active,
.btn.btn-success:active,
.btn.btn-warning:active,
.btn.btn-danger:active {
	-webkit-box-shadow: inset 0 3px rgba(0,0,0,.15)!important;
	-moz-box-shadow: inset 0 3px rgba(0,0,0,.15)!important;
	box-shadow: inset 0 3px rgba(0,0,0,.15)!important;
	transition: box-shadow 0s;
}

.btn.btn-default.active,
.btn.btn-primary.active,
.btn.btn-info.active,
.btn.btn-success.active,
.btn.btn-warning.active,
.btn.btn-danger.active {
	-webkit-box-shadow: inset 0 3px rgba(0,0,0,.15)!important;
	-moz-box-shadow: inset 0 3px rgba(0,0,0,.15)!important;
	box-shadow: inset 0 3px rgba(0,0,0,.15)!important;
	transition: box-shadow 0s;
}

/* -- END BUTTON -- */


/* -- MODAL -- */

.modal.modal-large .modal-dialog {
	width: 824px;
}

.modal.modal-medium .modal-dialog {
	width: 450px;
}

.modal.modal-small .modal-dialog {
	width: 350px;
}

.modal .modal-header {
	border-bottom: 3px solid #3498db;
}

.modal .modal-footer {
	border-top: 3px solid #3498db;
}

.modal .modal-title {
	font-family: Lato;
	text-align: center;
	color: #3498db;
}

/* -- END MODAL -- */

/* ruban */
.ribbon {
   height: 58px;
   margin-left: -13px;
   margin-right: -13px;
   position: relative;
   text-align: center;
   font-size: 13px!important;
   background-color: #3498db;
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Lato'!important;
   }
.ribbon p {
   font-size: 22px!important;
   color: #ebebeb;
   margin:0px;
   padding: 15px 10px;
   font-weight: none!important;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #3498db;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #2980b9 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 0px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 0px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }
/* --  */

@media (max-width: 768px) {
	nav .container {
		height: auto !important;
	}
	.nav.navbar-nav {
		margin: 7.5px -15px !important;
	}
	.nav.navbar-nav .li-nav {
		height: auto !important;
	}
	#bs-example-navbar-collapse-1 {
		background-color: #101010;
	}
	.nav.navbar-nav li a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.nav.navbar-nav li .btn-group {
		display: block;
  		width: 100%;
	}
	.nav.navbar-nav li .btn-group a.btn.btn-primary {
		padding-top: 6px;
		padding-bottom: 6px;
		width: 90%;
	}
	.nav.navbar-nav li .btn-group button.btn.btn-primary.dropdown-toggle {
		width: 10%;
	}
	.nav.navbar-nav li .btn-group ul.dropdown-menu {
		margin-top: 37px;
	}
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height: none;
	}


	.modal.modal-large .modal-dialog {
		width: 734px;
	}
	.modal.modal-medium .modal-dialog {
		width: 734px;
	}
	.modal.modal-small .modal-dialog {
		width: 734px;
	}
}
