.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.idea

app/tmp/*
app/Plugin/*
app/View/Themed/*

/config/bypass_compatibility

app/webroot/img/uploads/slider/*

dev.json

app/Config/database.php

app/Config/core.php
.gitmodules

config/update
config/install.txt
config/installed.txt
config/secure.txt
