.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.idea

app/tmp/cache/*
app/tmp/logs/*

/config/bypass_compatibility

app/webroot/img/uploads/slider/*

dev.json

app/Config/database.php
app/Config/core.php
.gitmodules

config/secure
config/last_check
config/update
config/install.txt
config/installed.txt
