/*
INSTALL.CSS - MINEWEB
*/

/* -- GENERAL -- */

body {
  background-color: #f5f5f5;
}

/* -- CONTENT -- */

.container {
  /*width: 35%; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.container svg.loader {
  position: absolute;
  height: 70px;
  top:50%;
  margin-top:-35px;
  left: 50%;
  margin-left: -35px;
}

.container .center {
  text-align: center;

  margin-right: auto;
  margin-left: auto;
}

.logo {
  margin-top: -120px;
  margin-bottom: 25%;

  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  margin-bottom: 5px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 40px;
}

p {
  margin-top: 5px;

  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
}
